services:
  python_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python_app
    ports:
      - "5000:5000"
    environment:
      PYTHONUNBUFFERED: "1"
    volumes:
      - .:/APP
    restart: unless-stopped
